/*
color scheme
E1F2EA - lightblue
CCE0EB - blueishwhite rgba(204, 224, 235, 1)
AFD1D0 - darkerblue rgba( 175, 209, 208, 1)
678762 - green
E9D1D4 - light dusty rose rgba(233, 209, 212, 1)
D48686 - dusty rose rgba( 212,134,134,0.5)
D48686 - dark rose rgba( 174, 97, 103, 0.5)
F6EEEF - light rose rgba( 246, 238, 239, 1)
F5BABE - pink rgba(245,186,190,0.5)
F5DFD3 - beige rgba(245,223,211,.5)
*/

body {
  background-color: rgba( 240, 217, 220, 0.5);
}

.navbar {
  background-color: rgba(235, 235, 235, 1)
}

.header-image {
  position: absolute;
  padding-top: 5%;
}

.header-image > img {
  position: absolute;
  width: 200px;
}

.title {
  background-image: url("/img/peonies_background.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  padding: 2rem 0;
  text-align: center;
  position: relative;
}

.title-child {
  position: absolute;
  top: 30%;
  left: 40%;
  height: 50%;
  width: 50%;
  color: aliceblue;
}

.home-banner {
  font-size: 3.5rem;
}

.home-banner-date {
  font-size: 3rem;
}

.home-links {
  top: 30px;
}

.row {
  padding-top: 10px;
}

.padded-row {
  padding-top: 50px;
}

#our_story {
  text-align: center;
}

#our_proposal {
  text-align: center;
}

#counterDowner {
  text-align: center;
  font-size: 60px;
  margin-top:0px;
}

.carousel {
  width: 90%;
  display: grid;
  justify-items: center;
  border: 3px solid rgba( 240, 217, 220);
  box-shadow: 2px 2px 1px rgba(211,211,211,0.8);
}

.carousel-container {
  display: grid;
  justify-items: center;
}

.carousel-inner {
  width: 80%;
  height: auto;
  overflow: hidden;
  position: relative
}

.fa-chevron-right{
  color: black;
  font-size: 3em;
}

.fa-chevron-left{
  color: black;
  font-size: 3em;
}

.img-fluid {
  margin:auto;
}

.baby-picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: inline-grid;
  grid-template-columns: 100%;
  justify-items: center;
}

.home-image {
  width: 70%;
  border: 3px solid rgba( 240, 217, 220);
  box-shadow: 2px 2px 1px rgba(211,211,211,0.8);
}

.smaller-image {
  width: 50%;
}

.baby-pics {
  max-width: 350px;
}

.centered-description {
  text-align: center;
}

.centered-description ul {
  padding: 0px;
}

.registry-logo {
  width: 200px;
}

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
