/*
color scheme
E1F2EA - lightblue
CCE0EB - blueishwhite rgba(204, 224, 235, 1)
AFD1D0 - darkerblue rgba( 175, 209, 208, 1)
678762 - green
E9D1D4 - light dusty rose rgba(233, 209, 212, 1)
D48686 - dusty rose rgba( 212,134,134,0.5)
D48686 - dark rose rgba( 174, 97, 103, 0.5)
F6EEEF - light rose rgba( 246, 238, 239, 1)
F5BABE - pink rgba(245,186,190,0.5)
F5DFD3 - beige rgba(245,223,211,.5)
*/

body {
  background-color: rgba( 174, 97, 103, 0.1)
}

.navbar {
  background-color: rgba(233, 209, 212, 1);
}

.title {
  background-image: url("/img/peonies_background.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  padding: 2rem 0;
  text-align: center;
  position: relative;
}

.title-child{
  position: absolute;
  top: 50%;
  left: 40%;
  height: 50%;
  width: 50%;
  color: rgba(204, 224, 235, 0.7);
  /*margin: -15% 0 0 -25%;*/
}

.home-banner {
  font-size: 5.5rem;
}

.home-banner-date {
  font-size: 3rem;
}

.home-links {
  top: 30px;
}

.row {
  padding-top: 10px;
}

.jumbotron {
  background-color: transparent;
  padding: 10px;
}

#counterDowner {
  text-align: center;
  font-size: 60px;
  margin-top:0px;
}

.carousel {
  interval: false;
  box-shadow: 3px 5px 3rem 0px rgb(234, 209, 212);
}

.carousel-inner {
  max-height: 500px;
  /*interval: false;*/
}

.fa-chevron-right{
  color: black;
  font-size: 3em;
}

.fa-chevron-left{
  color: black;
  font-size: 3em;
}

.img-fluid {
  margin:auto;
  margin-top: 0px;
  width:100%
  /*max-height: 500px;*/
}

.homeContainer {
  position: relative;
}

#homeForegroundImage {
  /*position: absolute;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  z-index: 1;
}

.default-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  z-index: 1;
}

.centered-description {
  text-align: center;
}

.registry-logo {
  width: 200px;
}